<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Auth"  xdt:Locator="Match(name)" xdt:Transform="Replace" 
         connectionString="Data Source=(local);Initial Catalog=WorkingTimeTracker_Auth;User Id=${SQL.UserName};Password=${SQL.Password}" 
         providerName="System.Data.SqlClient" />
    
    <add name="WorkingTimeTracker" xdt:Locator="Match(name)" xdt:Transform="Replace" 
         connectionString="Data Source=(local);Initial Catalog=WorkingTimeTracker;User Id=${SQL.UserName};Password=${SQL.Password}" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
